<% layout("/layouts/boilerplate") %>
<h3>All Listings</h3>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 ">
    <% for(let listing of allListings){ %>
    <a href="/listings/<%= listing._id %>" class="listing-links">
      <div class="card col listing-card" >
        <img src="<%= listing.image %>" class="card-img-top" style="height:20rem;" width=20rem alt="...">
          <div class="card-img-overlay">
          </div>

        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br>
&#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "Price not available" %> / Night<br>


          </p>
        </div>
    </div>
    </a>
    <% } %>
</div>
